@{
    ViewBag.Title = "Index";
}

 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div  >

     

    <div style="height:40px;background-color:darkgreen">
        <label style="font-size:20px;padding-top:5px;padding-left:40px"  ><span> HealthCare & Pharma solutions</span></label>
    </div>
  
    <div style="height:500px;" id="image" >
        <div style="padding-left:100px;padding-top:250px">
           
            <h3> Already Applied?</h3> <a href="@Url.Action("Index","Home")" style="color:red ; font-size:20px">Check the status of your application here</a>
        </div>
        
        
    </div>
    <div style="background-color:white;">
        <br />
        <br />
    </div>
    <div style="background-color:#e9e8e8;">
        <br />

        <div style="padding-left:200px;padding-right:200px" >
            <label style="padding-left:250px;font-size:20px;color:black" >What is MiPill?</label>

            <p>MiPill matches Pharmacies with residents who request medicines through our smartphone app and residens pick their order from the choosen pharmacy after making the payment through app or by cash.</p>

            <br />
            <p> When you are trying to start a business, looking for employment or fund your dreams,MiPill will get you there. So go ahead Be your own boss</p>
            <br />
            <label style="padding-left:250px;font-size:20px;color:black" >Why MiPill?</label>
            <br />

            <table style="width:800px;">

            <tr style="height:100px">
                <td>
                    <input type="image" src="~/Images/dollar_plus.JPG" style="height:150px;width:150px; border-style:none"/>
                </td>
                <td>
                   &nbsp;&nbsp; <input type="image" src="~/Images/wallet.JPG" style="height:150px;width:150px;border-style:none"/>
                </td>
                <td>
                    <input type="image" src="~/Images/community.JPG"style="height:150px;width:150px;border-style:none" />
                </td>
            </tr>
            <tr style="height:100px;width:700px">
                <td>
                    <p>You pay less on investment and we pay for your inventory- <br /> Risk free</p>
                </td>
                <td>
                   <p>Just and relax  in your store.. MiPill will bring up your business</p>
                </td>
                <td>
                    <p>Mipill community is full of awesome,friendly people--Residents and Pharmacists alike</p>
                </td>
            </tr>
        </table>
        </div>
        
    </div>
   

